@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body, html{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(61, 136, 233);
    
}

header {
   text-align: center; 
   margin-top: 20px;
   
}

header h1 {
    color:white;
}

section {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.384);
    width: 450px;
    height: 350px;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

input[type=button] {
    width: 30%;
    height: 25px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 15px;
}

div#res{
    margin-top: 20px;
    padding: 20px;
    margin: auto;
    font-weight: bold;
    
}

img {
    width: 130px;
    display: flex;
    margin: auto;
    clip-path: circle();

}

footer {
    margin-top: 20px;
    color: white;
}