:root{
	--brand-green: #00856F;
	--brand-green-light:#DCE9E2;
	--brand-green-light-02:#F7F9F9;
	--brand-beige:#FFFAF1;
	--gray-headline:#212529;
	--gray-paragraph:#495057;
	--white:#fff;

}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    overflow-x:hidden ;
}

header {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.2rem;
    width: 100%;
    
}

header.rolagem {
    background-color: #00856F;
    z-index: 10000;
}

header.rolagem ul li {
    color: white;
}

header.rolagem ul li:hover {
    color: #212529;
}

header.rolagem a#logo {
    color: white;
}

header.rolagem a#logo span {
    color: white;
}

header.rolagem nav ul li#genda {
    color: white;
}



li#genda{
    font-size: 0.9rem;
    padding: 5px;
    border: 1px solid rgb(108, 206, 133);
    border-radius: 15px;
    color: #056959;
}

li#genda:hover {
    background-color: #049e84;
    color: white;
}

 nav ul{
    display: flex;
    flex-direction: row;
    list-style-type:none ;
    gap: 15px;
}

nav ul li {
    color: #00856fc4;
    font-weight: 600;
    cursor: pointer;
}

nav ul li:hover{
    color: #056959;
    border-bottom:1px solid cadetblue ;
    
}



a#logo {
    text-decoration: none;
    color: #212529;
    font-weight: 600;
    padding-left: 20px;
    font-size: 1.5rem;
}

a#logo span {
    color: #00856F;
}

section#section1{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color:#dce9e273;
    align-items: center;
    justify-content: center;
}

div#text {
    width: 40%;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

div#text h5 {
    color: #00856F;
}

div#text h1 {
    font-size: 2.3rem;
}

div#text a {
    text-decoration: none;
    color: white;
    background-color: #056959;
    border-radius: 20px;
    padding: 10px;
    width: 45%;
    text-align: center;
}

div#text a:hover {
    background-color: #049e84;
}

div#text a i {
    margin: 5px;
}


div#mulher {
    top: 60px;
    position: relative;
    display: flex;
    
}

#number {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 70%;
    height: 15%;
    margin: auto;
    background-color: #FFFAF1;
    position: relative;
    bottom: 50px;
    z-index: 1000;
    height:120px;
}

.linha {
    
    height: 60%;
    width: 1px;
    background-color: var(--brand-green);
}

.num p {
    font-size: 2rem;
    font-weight: 600;
}

.num span {
    color: #00856F;
    font-weight: 600;
    font-size: 0.8rem;
}

section#secao2 {
    display: flex;
    flex-direction: column;
    height: 700px;
    bottom: 140px;
    position: relative;
    justify-content: center;
    background-color: var(--brand-green-light-02);
}

section#secao2 div#secao2-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    margin-bottom: 50px;
}

section#secao2 div > h5{
    color: #00856F;
    margin-top: 50px;
}

#section2-conteiner{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.section2-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.section2-box-child{
    width: 20%;
    background-color: white;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.section2-child-icon{
    width: 20px;
    height: 20px;
    clip-path: circle();
    padding: 3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-green-light);
}

.section2-child-icon i{
    color: var(--brand-green);
}

.section2-box-child h4{
    font-size: 1.2em;
    font-weight: bold;
}

.section2-box-child p{
    font-size: .9em;
    color: var(--gray-paragraph);
}


#secao3{
    position: relative;
    bottom: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 715px;
    background-color: var(--brand-beige);
    
}

#doctorimg{
    background-image: url(../img/doctor.png);
    width: 400px;
    height: 350px;
    background-size: cover;
    border-radius: 10px;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 360px;

}

.sobre p {
    width: 540px;
}

.sobre h5{
    color: #00856F;
}

.sobre h2 {
    font-size: 2rem;
    
}

#medico{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#secao4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    
}

#contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}

.onde{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
}
.onde a {
    text-decoration: none;
    color: white;
    background-color: #056959;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.onde h2 {
    font-size: 2rem;
   
}

#homem {
    background-image: url(../img/man.png);
    height:379px;
    width: 520px;
    border-radius: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 240px;
    background-color: #00856F;

}


footer div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer div h2 {
    color: white;
    font-weight: normal;
    font-size: 2rem;
}

footer div span {
    font-weight: 600;
}

footer div h6 {
    color: rgb(223, 211, 211);
}

#emoji {
    display: flex;
    flex-direction: row;
    color: white;
}
