* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(102, 72, 72, 0.733);
}

.container-slide {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 60vw;
    height: 60vh;
    border-radius: 15px;
    box-shadow: 0 20px 30px black;
}

#container-items {
    position: absolute;
    display: flex;
    width: 60vw;
    height: 60vh;
    border-radius: 10px;
    overflow: hidden;
}

.item {
    width: 60vw;
    height: 60vh;
    transition: all 1s;
}

.item:first-child {
    margin-left: -100%;
}

.item img {
    width: 60vw;
    height: 60vh;
    border-radius: 10px;
}

.action-button {
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none;
    z-index: 1;
}

.action-button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}

